﻿@{
    ViewBag.Title = "Books";
}
<html>
<body>
    <header>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="~/Content/style.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script defer src="https://use.fontawesome.com/releases/v5.0.10/js/all.js" integrity="sha384-slN8GvtUJGnv6ca26v8EzVaR9DC58QEwsIk9q1QXdCU8Yu8ck/tL/5szYlBbqmS+" crossorigin="anonymous"></script>
        <link href="https://fonts.googleapis.com/css?family=Quicksand|Raleway|Poiret+One|Sacramento" rel="stylesheet">
    </header>
    <div id="headTitle">
        <img id="logo" src="https://www.shareicon.net/data/2016/09/23/833078_book_512x512.png" />
        <h2 id="title">Search your book</h2>
    </div>
    <div id="generalContent">
        <div id="mainContent">
            <div>
                <div id="searchContent">
                    <p class="subtitle">Digite o nome do livro ou autor:</p>
                    <input type="text" id="textField" />
                    <button class="btn" id="searchBook"><i class="fas fa-search"></i> Pesquisar</button>
                </div>
                <div class="alert alert-danger" role="alert">
                    <p class="alert-link">Nenhum resultado encontrado.</p>
                </div>
            </div>
            <br />
            <div id="mainBookContent">
                <p class="title"><b>Resultados encontrados para: </b><span id="textSearch"></span></p>
                <div id="imageContent">
                    <img id="imageBook" />
                    <p id="priceBook"></p>
                    <a id="BookButton0" class="buyLinkButton">Comprar</a>
                </div>
                <div id="mainBookInformations">
                    <p class="title"><b>Título: </b><span class="information" id="titleBook"></span> </p>
                    <p class="title"><b>Autor(a): </b><span class="information" id="authorsBook"></span> </p>
                    <p class="title"><b>Categoria: </b><span class="information" id="categoryBook"></span> </p>
                    <p class="title"><b>Descrição: </b><span class="information" id="descriptionBook"></span></p>
                    <a id="previewLinkBook" href="">Clique aqui para a pré-visualização</a>
                </div>
            </div>
            <div id="paginationContent">
                <div id="paginationButtonsContent">
                    <button class="btn" id="previousBook"><i class="fas fa-chevron-left"></i></button>
                    <button class="btn " id="nextBook"><i class="fas fa-chevron-right"></i></button>
                </div>
            </div>
        </div>
        <div id="associatedBooksContent">
            <p class="titleAssociatedBooks"><b>Obras relacionadas:</b></p>
            <div id="associatedBooks">
                <div class="BooksContentPosition">
                    <div class="BookPosition">
                        <a id="BookButton1" class="previewLink"></a>
                        <img id="BookImage1" class="associatedImageBook" />
                    </div>
                    <div class="BookPosition">
                        <a id="BookButton2" class="previewLink"></a>
                        <img id="BookImage2" class="associatedImageBook" />
                    </div>
                    <div class="BookPosition">
                        <a id="BookButton3" class="previewLink"></a>
                        <img id="BookImage3" class="associatedImageBook" />
                    </div>
                    <div class="BookPosition">
                        <a id="BookButton4" class="previewLink"></a>
                        <img id="BookImage4" class="associatedImageBook" />
                    </div>
                    <div></div>
                </div>
                <div class="BooksContentPosition">
                    <div class="BookPosition">
                        <a id="BookButton5" class="previewLink"></a>
                        <img id="BookImage5" class="associatedImageBook" />
                    </div>
                    <div class="BookPosition">
                        <a id="BookButton6" class="previewLink"></a>
                        <img id="BookImage6" class="associatedImageBook" />
                    </div>
                    <div class="BookPosition">
                        <a id="BookButton7" class="previewLink"></a>
                        <img id="BookImage7" class="associatedImageBook" />

                    </div>
                    <div class="BookPosition">
                        <a id="BookButton8" class="previewLink"></a>
                        <img id="BookImage8" class="associatedImageBook" />
                    </div>
                    <div></div>
                </div>
                <div class="BooksContentPosition">
                    <div class="BookPosition">
                        <a id="BookButton9" class="previewLink"></a>
                        <img id="BookImage9" class="associatedImageBook" />
                    </div>
                    <div class="BookPosition">
                        <a id="BookButton10" class="previewLink"></a>
                        <img id="BookImage10" class="associatedImageBook" />
                    </div>
                    <div class="BookPosition">
                        <a id="BookButton11" class="previewLink"></a>
                        <img id="BookImage11" class="associatedImageBook" />
                    </div>
                    <div class="BookPosition">
                        <a id="BookButton12" class="previewLink"></a>
                        <img id="BookImage12" class="associatedImageBook" />
                    </div>
                    <div></div>
                </div>
                <div class="BooksContentPosition">
                    <div class="BookPosition">
                        <a id="BookButton13" class="previewLink"></a>
                        <img id="BookImage13" class="associatedImageBook" />
                    </div>
                    <div class="BookPosition">
                        <a id="BookButton14" class="previewLink"></a>
                        <img id="BookImage14" class="associatedImageBook" />
                    </div>
                    <div class="BookPosition">
                        <a id="BookButton15" class="previewLink"></a>
                        <img id="BookImage15" class="associatedImageBook" />
                    </div>
                    <div class="BookPosition">
                        <a id="BookButton16" class="previewLink"></a>
                        <img id="BookImage16" class="associatedImageBook" />
                    </div>
                    <div></div>
                </div>
                <div class="BooksContentPosition">
                    <div class="BookPosition">
                        <a id="BookButton17" class="previewLink"></a>
                        <img id="BookImage17" class="associatedImageBook" />
                    </div>
                    <div class="BookPosition">
                        <a id="BookButton18" class="previewLink"></a>
                        <img id="BookImage18" class="associatedImageBook" />
                    </div>
                    <div class="BookPosition">
                        <a id="BookButton19" class="previewLink"></a>
                        <img id="BookImage19" class="associatedImageBook" />
                    </div>
                    <div class="BookPosition">
                        <a id="BookButton20" class="previewLink"></a>
                        <img id="BookImage20" class="associatedImageBook" />
                    </div>
                    <div></div>
                </div>
                <div class="BooksContentPosition">
                    <div class="BookPosition">
                        <a id="BookButton21" class="previewLink"></a>
                        <img id="BookImage21" class="associatedImageBook" />
                    </div>
                    <div class="BookPosition">
                        <a id="BookButton22" class="previewLink"></a>
                        <img id="BookImage22" class="associatedImageBook" />
                    </div>
                    <div class="BookPosition">
                        <a id="BookButton23" class="previewLink"></a>
                        <img id="BookImage23" class="associatedImageBook" />
                    </div>
                    <div class="BookPosition">
                        <a id="BookButton24" class="previewLink"></a>
                        <img id="BookImage24" class="associatedImageBook" />
                    </div>
                    <div></div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
<script language="JavaScript" src="~/Scripts/search.js"></script>