﻿@media screen and (max-width: 13837px) {

    body {
        margin-top: -50px;
        background-image: url('Images/wall.jpg');
    }

    header {
        background: no-repeat;
        text-align: center;
    }

    #headTitle {
        padding-top: 25px;
        padding-bottom: 20px;
        padding-left: 30px;
    }

    h2 {
        font-size: 70px;
        color: white;
        text-shadow: 2px 2px black;
        font-family: 'Poiret One', cursive;
        text-transform: uppercase;
        font-weight: bold;
        padding-left: 90px;
        max-width: 750px;
    }

    #mainContent {
        background-color: #F3F0F3;
        padding-top: 50px;
        padding-left: 100px;
        padding-right: 100px;
        padding-bottom: 50px;
        min-height: 468px;
    }

    #associatedBooksContent {
        padding: 30px 100px 100px 100px;
        background-color: #0c0c0c;
        margin-top: 20px;
        display: none;
    }

    .titleAssociatedBooks {
        color: white;
        font-size: 18px;
        font-family: 'Raleway', sans-serif;
    }

    #associatedBooks {
        margin-top: -100px;
    }

    #logo {
        float: left;
        width: 72px;
        height: 72px;
        margin-top: 5px;
    }


    #textField {
        padding-bottom: 6px;
    }

    #textField {
        height: 32px;
        width: 5000px;
        font-size: 16px;
        font-family: 'Raleway', sans-serif;
    }

    #mainBookContent {
        display: none;
        margin-top: 30px;
    }

    #imageContent {
        float: left;
        margin: 10px 10px;
        width: 128px;
        text-align: center;
    }

    #mainBookInformations {
        margin-top: 40px;
        padding-left: 200px;
    }

    #paginationContent {
        float: right;
        display: inline;
        padding-right: 100px;
    }

    #paginationButtonsContent {
        display: none;
    }

    #previousBook {
        float: left;
        margin-right: 10px;
    }

    #previewLinkBook {
        font-size: 18px;
        font-family: 'Raleway', sans-serif;
        color: #25B99A;
        font-weight: bold;
    }

    #priceBook {
        margin-top: 10px;
        text-align: center;
        font-family: 'Quicksand', sans-serif;
        font-weight: bold;
        font-size: 22px;
        margin-bottom: 20px;
        color: black;
    }

    .title {
        font-size: 18px;
        font-family: 'Raleway', sans-serif;
        /*display: none;*/
        color: black;
    }

    .subtitle {
        font-size: 18px;
        font-family: 'Raleway', sans-serif;
        color: black;
    }

    .information {
        font-size: 18px;
        font-family: 'Raleway', sans-serif;
        text-align: justify;
        color: black;
    }

    .associatedImageBook {
        margin-bottom: 20px;
        width: 130px;
        height: 200px;
        margin-top: 10px;
    }


    .btn {
        font-family: 'Raleway', sans-serif;
        background-color: #25B99A;
        color: white;
        margin-left: 10px;
    }

        .btn:hover {
            background-color: #21A68A;
        }

    .previewLink {
        font-weight: bold;
        font-family: 'Raleway', sans-serif;
        color: white;
    }

        .previewLink:hover {
            color: #25B99A;
        }

    .buyLinkButton {
        background-color: #E51616;
        border-radius: 5px;
        padding: 10px;
        color: white;
    }

        .buyLinkButton:hover {
            background-color: #ce1313;
            color: white;
            text-decoration: none;
        }

    .alert {
        margin-top: 10px;
        display: none;
        height: 40px;
    }

    .alert-link {
        display: none;
        font-family: 'Raleway', sans-serif;
    }

    .BooksContentPosition {
        align-items: center;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }

    .BookPosition {
        width: 128px;
        float: left;
        margin: 100px 70px -50px 70px;
        text-align: center;
    }
}



@media screen and (max-width: 700px) {

    body {
        margin-top: -50px;
        background-image: url('Images/wall.jpg');
        max-width: 700px;
        margin-left: 10px;
        margin-right: 10px;
    }

    header {
        background: no-repeat;
        text-align: center;
    }

    #headTitle {
        padding-top: 25px;
        padding-bottom: 20px;
    }

    h2 {
        font-size: 30px;
        color: white;
        text-shadow: 2px 2px black;
        font-family: 'Poiret One', cursive;
        text-transform: uppercase;
        font-weight: bold;
        padding-left: 90px;
        max-width: 750px;
    }

    #mainContent {
        background-color: #F3F0F3;
        padding-top: 50px;
        padding-left: 20px;
        padding-right: 20px;
        padding-bottom: 50px;
        min-height: 468px;
    }

    #searchContent {
        text-align: center;
    }

    #associatedBooksContent {
        padding: 30px 100px 100px 100px;
        background-color: #0c0c0c;
        margin-top: 20px;
        display: none;
    }

    .titleAssociatedBooks {
        color: white;
        font-size: 18px;
        font-family: 'Raleway', sans-serif;
    }

    #associatedBooks {
        margin-top: -100px;
    }

    #logo {
        float: left;
        width: 72px;
        height: 72px;
        margin-top: 5px;
    }

    #textField {
        padding-bottom: 6px;
        height: 32px;
        width: 200px;
        font-size: 16px;
        font-family: 'Raleway', sans-serif;
    }

    #mainBookContent {
        display: none;
        margin-top: 30px;
        text-align: center;
        max-width: 700px;
        
    }

    #imageContent {
        width: 320px;
        text-align: center;
    }

    #mainBookInformations {
        margin-top: 350px;
        margin-left: -200px;
        width: 450px;
    }

    #paginationContent {
        float: right;
        display: inline;
        padding-right: 100px;
    }

    #paginationButtonsContent {
        display: none;
    }

    #previousBook {
        float: left;
        margin-right: 10px;
    }

    #previewLinkBook {
        font-size: 18px;
        font-family: 'Raleway', sans-serif;
        color: #25B99A;
        font-weight: bold;
    }

    #priceBook {
        margin-top: 10px;
        text-align: center;
        font-family: 'Quicksand', sans-serif;
        font-weight: bold;
        font-size: 22px;
        margin-bottom: 20px;
        color: black;
    }

    .title {
        font-size: 18px;
        font-family: 'Raleway', sans-serif;
        display: none;
        color: black;
    }

    .subtitle {
        font-size: 18px;
        font-family: 'Raleway', sans-serif;
        color: black;
    }

    .information {
        font-size: 18px;
        font-family: 'Raleway', sans-serif;
        text-align: justify;
        color: black;
    }

    .associatedImageBook {
        margin-bottom: 20px;
        width: 130px;
        height: 200px;
        margin-top: 10px;
    }

    .btn {
        font-family: 'Raleway', sans-serif;
        background-color: #25B99A;
        color: white;
        margin-top: 10px;
        margin-left: -10px;
    }

        .btn:hover {
            background-color: #21A68A;
        }

    .previewLink {
        font-weight: bold;
        font-family: 'Raleway', sans-serif;
        color: white;
    }

        .previewLink:hover {
            color: #25B99A;
        }

    .buyLinkButton {
        background-color: #E51616;
        border-radius: 5px;
        padding: 10px;
        color: white;
    }

        .buyLinkButton:hover {
            background-color: #ce1313;
            color: white;
            text-decoration: none;
        }

    .alert {
        margin-top: 10px;
        display: none;
        height: 40px;
    }

    .alert-link {
        display: none;
        font-family: 'Raleway', sans-serif;
    }

    .BooksContentPosition {
        align-items: center;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }

    .BookPosition {
        width: 128px;
        float: left;
        margin: 100px 70px -50px 70px;
        text-align: center;
    }
}